.row-time-account-line-credit{
  background-color: $state-success-bg;
  color: $state-success-text;
}
.row-time-account-line-debit{
  background-color: $state-danger-bg;
  color: $state-danger-text;
}
