//
// table
//
$desktop-cell-height: 25px;
$mobile-cell-height: 44px;

// mobile table cell bigger
.table-cal {
  .col-time{ width: 10% }
  .col-room-atelier{
    font-size: 18px;
  }
  .col-room-carre,
  .col-room-grande-loge,
  .col-room-grande-loge{ width: 22.5% }

  > tbody > tr > td{
    height: $mobile-cell-height;
    line-height: $mobile-cell-height;
  }
}

// decrease on desktop
$screen-sm-min: 768px;
@media (min-width: $screen-sm-min) {
  .table-cal {
    .col-time{ width: 4% }
    .col-room-carre,
    .col-room-grande-loge,
    .col-room-grande-loge{ width: 24% }

    > tbody > tr > td{
      height: $desktop-cell-height;
      line-height: $desktop-cell-height;
    }

  }
}

.table-cal{
  border: none;
  > tbody > tr > td{
    position: relative;
  }
  // all
  > thead > tr > th,
  > tbody > tr > td {
    padding: 0px;
    vertical-align: middle;
    text-align: center;
  }
  > thead > tr > th {
    border-bottom: 0;
  }

  // first cell [0,0]
  .th-no-border{
    border-top-color: transparent;
    border-left-color: transparent;
  }
  // hours cell [0, ...], position hour top right
  .td-time{
    background-color: transparent!important;
    border-left: 0;
    line-height: 12px;
    padding-right: 3px;
    padding-top: 3px;
    vertical-align: top;
    text-align: right;
  }
  .td-time, th{
    font-size: 12px;
  }

  // alternate rows, marking hour with darker line
  .tr-full-hour{
    td{
      border-color: rgb(215,215,215);
      border-bottom-style: dotted;
    }
    .td-time{
      border-bottom-color: transparent;
    }
  }
  .tr-half-hour{
    td{
      border-bottom-color: rgb(221,221,221);
      border-top-style: dotted;
    }
    .td-time{
      border-top-color: transparent;
    }
  }
  // link to book
  .block-opened,
  .block-reserved{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2px;
    right: 3px;
    border-width: 1px;
    border-style: solid;
  }

  a.block-opened{
    border-color: transparent;
    color: transparent;
    transition: background-color 0.2s linear, color 0.2s linear;
    &:hover{
      border-color: $state-success-border;
      background-color: $state-success-bg;
      color: $state-success-text;
      text-decoration: underline;
    }
  }


  .block-reserved{
    background-color: $state-danger-bg;
    color: $state-danger-text;
    border-color: $state-danger-border;

  }
    .block-hour-wrapper{
      margin: 0;
      text-align: left;
      line-height: 1;
      font-weight: bold;
      font-size: 10px;
    }
    .block-reserved-name{
      margin: 0;
      text-align: left;
      line-height: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .block-reserved-name{
      font-size: 12px;
    }
}

//
// popover
//
.popover {
  color: #000;
}
