<ul>
  <li class="reservation-team-name"><%= t('.team', team_name: reservation.team.name) %></li>
  <li class="reservation-resident-fullname"><%= t('.user', user_name: reservation.resident.fullname) %></li>
  <%if reservation.resident == current_resident %>
    <li class="reservation-edit"><%= link_to t('.edit'), edit_room_reservation_path(room_id: reservation.room.id, id: reservation.id), class: 'btn btn-success' %></li>
  <% end %>
</ul>
