.breadcrumb-calendar{
  // border: 1px solid #ddd;
  background: transparent;
  overflow: hidden;
  text-align: center;
  > li {
    line-height: 46px;
    padding: 0;
    float: left;
    
    &, &.active{
      color: #333;
    }
  }
  input{
    box-shadow: none;
  }
}
// decrease on desktop
$screen-sm-min: 768px;
@media (min-width: $screen-sm-min) {
  .ul-breadcrumb-calendar{
    position: absolute;
    display: inline-block;
    width: 170px;
    margin-left: -85px;
  }
}


.room-type{
  // .panel-heading,
  .panel-footer{
    p { margin-bottom: 0;}
  }
}
