.breadcrumb-calendar{
  // border: 1px solid #ddd;
  background: transparent;
  overflow: hidden;
  > li {
    padding: 7px 0;
    &, &.active{
      color: #333;
    }
  }
  input{
    box-shadow: none;
  }
}

.li-breadcrumb-calendar{
  width: 150px;
}

.room-type{
  // .panel-heading,
  .panel-footer{
    p { margin-bottom: 0;}
  }
}
