.navbar-brand{
  padding: 8px 15px;
}

.navbar-team{
  z-index: 0;
  color: #777;
  line-height: 50px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-header, .navbar-collapse{
  z-index: 1;
  position: relative;
}
