// UI Framework
@import 'bootstrap-sprockets';
@import 'libs/bootstrap-custom';
@import 'bootstrap-datepicker3';

// Devise sweetness
@import 'devise_bootstrap_views';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'components/alert';
@import 'components/navbar';
@import 'components/breadcrumb';
@import 'components/turbolinks';

@import 'pages/calendar';
@import 'pages/reservation';
@import 'pages/admin';
@import 'pages/room';

a{text-decoration: underline;}
a.btn{text-decoration: none;}

// ios force text size on input to prevent zoom
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
